body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #fffafa;
}

.container {
    text-align: center;
    padding: 50px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(236, 7, 7, 0.2);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: rgb(39, 3, 3);
    color: white;
}
